body{
    background: steelblue;
}

#mainCard{
    display: grid;
    border-style: solid;
    border-color: black;
    border-radius: 4%;
    box-shadow: 2px 2px 5px black;
    background: grey;

    height: 200px;
    width: 200px;
}
#count{
    user-select: none;
}

div#mainDiv{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-gap: 10px;
}

div.bookCard{
    display: block;
    border-style: solid;
    border-color: black;
    border-radius: 4%;
    box-shadow: 2px 2px 5px black;
    background: rgb(241, 152, 152);
    height: 200px;
    width: 200px;
}
.bookCard{
    text-align: center;
}


p.bookCard{
    background: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6%;
    border-width: 1px;
    border-style: solid;
}